<div class="row">
  <div class="col-md-10">
    <%= form_for @profile, :url => wizard_path, :method => :put, :html => { :multipart => true } do |f| %>
        <div class="form-group">
          <label for="profile_avatar">Profile Image</label>
          <%= f.file_field "avatar", id: "profile_avatar", :class => "form-control", :required => true %>
        </div>
      <%= f.submit :class => "btn btn-success pull-right identity-proof-submit"%>
    <% end %>
  </div>
</div>
<style type="text/css">
  form {
    width: 250px;
    margin: 123px auto;
}
.identity-proof-submit{
  margin-top: 50px; 
}

</style>
