<footer>
  <!-- FOOTER INFO -->
  <div class="clearfix footerInfo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">HEALTH & WELLNESS</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">WEDDINGS</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">EVENTS</a></li>
              <li role="presentation"><a href="#homecare" aria-controls="settings" role="tab" data-toggle="tab">HOMECARE & DESIGN</a></li>
              <li role="presentation"><a href="#repairmaintenance" aria-controls="homecareanddesign" role="tab" data-toggle="tab">REPAIR & MAINTENANCE</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid footertabcontent">
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Yoga Instructors at Home</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Fitness Trainers at Home</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Nutritionist/Dietician</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Physiotherapists</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Salon at Home</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                  <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Bridal Makeup Artists</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Wedding Photographers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Pre-Wedding Photographers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Wedding Planners</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Mehendi Artists</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Visakhapatnam</a></li>
                        <li><a href="/">Kakinada</a></li>
                        <li><a href="/">Rajahmundry</a></li>
                        <li><a href="/">Vijayawada</a></li>
                        <li><a href="/">Guntur</a></li>
                        <li><a href="/">Amaravathi</a></li>
                        <li><a href="/">Tirupathi</a></li>
                        <li><a href="/">Nellore</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <div class="row">
                  <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Birthday Party Planners</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Baby Photographers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Personal Party Photographers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Maternity Photographers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Birthday Party Decorators</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="homecare">
                <div class="row">
                  <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Packers & Movers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Web Designer</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Interior Designers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Architects</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Civil Contractors</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="repairmaintenance">
                <div class="row">
                  <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Plumbers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Electricians</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Carpenters</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>Pest Control</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                      <h4>CCTV Dealers</h4>
                    </div>
                    <div class="useLink">
                      <ul class="list-unstyled">
                        <li><a href="/">Delhi-NCR</a></li>
                        <li><a href="/">Mumbai</a></li>
                        <li><a href="/">Kolkata</a></li>
                        <li><a href="/">Pune</a></li>
                        <li><a href="/">Ahmedabad</a></li>
                        <li><a href="/">Chennai</a></li>
                        <li><a href="/">Hyderabad</a></li>
                        <li><a href="/">Bangalore</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Oyeabhi Blog</a></li>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Homes</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Join as a professional</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <!-- /.container-fluid -->
          </nav>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <div class="footerInfoTitle">
              <h4>COMPANY</h4>
            </div>
            <div class="useLink">
              <ul class="list-unstyled">
                <li><a href="/">Reviews</a></li>
                <li><a href="/">Coupon</a></li>
                <li><a href="/">Blacklisted Professionals</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-9 col-xs-12">
            <div class="footerInfoTitle">
              <h4>SERVING IN</h4>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="useLink">
                  <ul class="list-unstyled">
                    <li><a href="/">Visakhapatnam</a></li>
                    <li><a href="/">Kakinada</a></li>
                    <li><a href="/">Rajahmundry</a></li>
                    <li><a href="/">Vijayawada</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="useLink">
                  <ul class="list-unstyled">
                    <li><a href="/">Guntur</a></li>
                    <li><a href="/">Amaravathi</a></li>
                    <li><a href="/">Tirupathi</a></li>
                    <li><a href="/">Nellore</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="useLink">
                  <ul class="list-unstyled">
                    <li><a href="/">Eluru</a></li>
                    <li><a href="/">Bhimavaram</a></li>
                    <li><a href="/">Vijayanagaram</a></li>
                    <li><a href="/">Bhubhaneswar</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- COPY RIGHT -->
    <div class="clearfix copyRight">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="copyRightWrapper">
              <div class="row">
                <div class="col-sm-5 col-sm-push-7 col-xs-12">
                  <ul class="list-inline socialLink pull-right">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                  <ul class="list-inline pull-right">
                    <li><a href="">Terms &amp; Conditions</a></li>
                    <li><a href="">Policy</a></li>
                  </ul>
                </div>
                <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                  <div class="copyRightText">
                    <p>Copyright &copy; 2018. All Rights Reserved by <a href="#">Oyeabhi</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>