<footer class="pt-4 pb-2 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Copyright © 2018. All Rights Reserved by <a href="#">Oyeabhi</a></p>
            </div>
            <div class="col-md-6 sec-2">
                <p><a href="#">Terms and Conditions</a></p>
                <p><a href="#">Policy</a></p>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
