<nav class="navbar navbar-header navbar-expand-lg navbar-dark bg-dark nav-bgcolor">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="dblue">Oye</span>Abhi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
                <% unless current_user.present? %>  
                  <li class="nav-item">
                      <!-- <a class="nav-link" href="#">LOGIN/SIGN UP</a> -->
                      <%#= link_to "LOGIN/SIGN UP", new_user_session_path, class: "nav-link" %>
                      <%#= link_to('Login', new_user_session_path) %>
                      <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">LOGIN/SIGN UP</a>

                  </li>
                  <li class="nav-item">
                      <a class="nav-link border border-color" href="<%= new_user_registration_path%>?role=professional">BECOME A PROFESSIONAL</a>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <a class="nav-link border border-color" data-method="delete" href="/users/sign_out">Logout</a>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<%= render :partial => 'home/login_modal' %>
